<!-- start header -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="headerController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left"><%= image_tag "livingroom_icon.png", :size => '40x50' %></a>
      <a class="navbar-brand" style="padding-left: 25px; font-family: Story Book; font-size: 30px">Living Room</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
    <div class="collapse navbar-collapse col-xs-6 col-md-4" id="bs-example-navbar-collapse-1 ">
      <ul class="nav navbar-nav">
        
        <li><a ui-sref="movie"><div class="browse-movies">Browse Movies</div></a></li>
        </span>
        <li><a ui-sref="list"><div class="lists">Lists</div></a></li>
        <li><a ui-sref="food"><div class="food">Food</div></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="chat"><div class= "chat">Chat</div></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
        <li class="dropdown">
          <a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ><a ui-sref="profile">Profile</a></li>
            <li ><a href="/#">Friends</a></li>
            <li class="divider"></li>
            <li ><a ui-sref="chat">Chatroom</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", destroy_session_path, method: :delete, class: 'logbutton' %> </li>
          </ul>
        </li>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
  var currentUser = <%=raw current_user.to_json %>;
</script>

<!-- end header -->
<div ui-view></div>

<div class="background-image">
</div>


<!-- end footer navbar -->