@import 'bootstrap';

body {
  background-image: url('background-couch.jpg');

}

.signup_button {
  position: absolute;
  top: 35px;
  left: 1180px;
}
.login_button {
  position: absolute;
  top: 35px;
  left: 1100px;
}
.dropdown-toggle {
  position: absolute;
  left: 1250px;
  top: 23px;
}

.form-control {
  position: absolute;
  left: 20px;
  top: 25px;
}

.submit-button {
  position: absolute;
  left: 212px;
  top: 29px;

}

.container-fluid {
  background-color: black;
}

