@import 'bootstrap';
@import url("https//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
// *= require_tree .
// *= require_self
body {
  background-image: url('livingroom_background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
@font-face{
  font-family: 'Story Book';
  src: url('/assets/StoryBook.otf');
}
.app-name {
  font-family: Story Book;
  color: black;
  font-size: 100px;
  text-align: center;
}

.signup-logo {
  position: absolute;
  font-family: verdana;
  top: 240px;
  left: 875px;
  font-size: 15px;
  color: white;
}

.signup-form {
  position: absolute;
  font-family: verdana;
  top: 320px;
  left: 875px;
  color: white;
}

.login-logo {
  position: absolute;
  font-family: verdana;
  top: -70px;
  left: -600px;
  font-size: 15px;
  color: white;
}

.login-form {
  position: absolute;
  font-family: verdana;
  top: 30px;
  left: -600px;
  color: white;
}

.form-control {
  position: absolute;
  left: 20px;
  top: -70px;
}

.submit-button {
  position: absolute;
  left: 212px;
  top: -67px;
  color: black;
}

.actions {
  color: black;
  padding-top: 20px;
  padding-left: 50px;
}

#user_header {
  color: white;
  position: absolute;
  left: 1100px;
  top: 98px;
}

a {
  color: grey;
}

.box1 {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 5px solid black;
  display: inline-block;
  left: 200px; 
  top: 200px;
  background-color: black; 
  opacity: 0.5;
}

.box2 {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 5px solid black;
  display: inline-block;
  left: 800px;
  top: 200px;
  background-color: black; 
  opacity: 0.5;
}
.field {
  color: black;
}


.container {
  display: inline;
  height: 200px; 
  width: 500px;
  overflow: hidden;
}
.wrapper {
  display: inline;
}

.movie-image {
  padding: 7px;
}

.movie-scroll {
  margin-top: 200px;
  margin-left: 10px;
  padding: 7px;
  white-space: nowrap;
}

.rating-runtime {
  font-size: 15px;
  margin-top: -16px;
  margin-left: 45px;
  color:white;
}

.form-control {
  position: absolute;
  top: 5px;
  left: 50px;
  background-color: black;
}

.search-button {
  margin-top: -50px;
  margin-left: 500px;
  color: white;
  background-color: black;
}
.runtime {
  margin-left: 50px;
  color:white;
}

.profile {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 5px solid black;
  display: inline-block;
  left: 500px;
  top: 200px;
}

.background-image {
  position: relative;
  height: 800px;
  width: 800px;
  left: 500px;
  top: 200px;
  background-image: url("6f709qc7xY7XZmaLTrNkqXRs8M9m0bG+Ik1Doqi320yMvyGGFNESAAVH4VSG0jr61ZMKhArEnqMmX7mbDwQwfYUTtNwAOBk23Uhgbbix6X5UrOBP0lgf8A3UH/AFUp98X4Pv8ADyRLuWQge2kRwdA0ea4JGBDLi4AQeYImWtP4dL0uPgy/iCbcZk123YzvM4xFiSEEaC/oik2/zE1Tcum0SK3S+/spm/lB8OLBjExSvf5VqLIR81o1jUkHqCCNvO/nsq1Uk2AufStFpNUxCLakmjo/g3G95BE4O9gDTDwcp0g1zXwVxBmCAR4eHvtwoXQdvawsB7SaaHC3G07Trhp8M0DvfSWuVJG5A29vnyrFhjngm2+vwa2etQrj2vIypJNjSg7dZB8iA6mRbe3f8Aam+IOOp4JGiXBTzMtrFFOkk+oFzv5Ure0zOsViIk+URCNVlIsA1w4BBVr7del/bVsW8mSEvaxf5TxwlfgXt68JrJicM8baXUqwAJVhYi4BFwfQg++sVa7dmeT+QQg6f66008hY6eWwpUcNYgB7MbC1MPI88hjOlnU9OY+2szUxe42NFOKj2MHBPt8a1c2NxvWquaI3jT5qnf0uv3VBZrxthQxXWLjpf8aoSbVIccoxdtmtm8VvZSkzGLRK6+RPwpnZhnUcwATf1G4t7aqMOWh8cQ661Cl9N7BrCwBPQX5+l6a0z2XZn6xLJW3yVair9/YUn+Fhv/0n/wDqimfqYi30eQ6OymN0w0YYEMEtZrXFvPpS844bFz6u6ULHHGWubAuw+aoHW52vyF701iKXnFWE7yaw5AGwPL4feaq1HpSJ03qkxU4vLnKRsZo3ZlJkiK3CEHwjVaxYjyOx2351ZMLg5IcKt/pIWUe3l91TWXZfEsyRuou5sB5m19vLzv6VPcY4ICJGFjoIU6eW/p060rJuSuh6LUJKPdioyfCMvfWddY3jsHGsk76xyWw89VzbmKanalge8y6KXk0ZQ+5lAP22+FVJYluWAttv+NNLNcuGKwSp0ZFP8PP3XvV+KbkpOhXU41FxV+Sif/U0WGhTvD4tCnT13FRUXa2gbSIW587i1qmsFwtFiYIu9XxKoVrG19PhsTzAuOlb2E4Nhjk1R4eFB9IWJJtuPQC+9UKKVssUm0rIviPiiZMCcQgHiJt6D/vSsfHZjiQ8w73u1tfQl+fKwG59tPDNMo+UYeSHYaiLeQ3/AAqLyDCOVaF7q0bFG0nqNvf/ANqjFKu1Z3kjfCYscg4jzHDyr4ZTe1lZCNQ6/wBX2p4cOkGEOE0FyWYbfONgb226VB/2NFEw5sSb3bcirZhHUr4dwNr+wU5jluTM7VR2pWI/MycPmeLjw0V4xIjNuAFvGpa1z1Ymrzw7xjEQEkDIx+sLj/ULi3vr4444dTvzMF2nUJL5FluBf2qffprbwGWQPZ5YVLBQtgfDsoW4HQ6dqWzKLk74ZoaZyeFUrX8E1Pi1BBW1rXvUPmPF7AFIowTy1ubKLb32BJ9wr6ggQR4lUJ0xkBTe5F1F/tvW1leDRFDRIBddL3Aa9+d732NKL7qY7LHHZdc/n9+SmS4yV2P567eTROoNudtQBNrjly2q1cAxkYoX56G/CtuTL1AA0gKt9K2AAubk+pPnWThlx8tAH+G3/wAasht+dFR8kZJN6eW7uiK7c+HFngjxJDHuNYYLa+lluDv5Oqj/ADGkVlEeKhBliBKjdx0Fvre7yrqjjiAvl+KUbkxP9gv+Fc4Y6e2H0oSNWxAPUn40/nm1LbVp+TL0uNSTldNeC/5DNNiMMs8VlZr7NuPd76rmNxOPZ/FipQmrTaKNRvYm1i+ocrXIte1XfhzD93BCvIaRUumUxhtWkHry61i48ihJ0lRs5fUkpvn8Fb4bw+IBu8ssija0qgEW6hhzHsvVc4lyru88y6YcpsRBf9pZUH2i3wpp4iQWsotUKMHHLjcK7qGaOQFb8gSw39vK3lVunzbM1lGbH83E11RHflG5Q8mHw06KSImdWt0DhTf+CkjwxNoxMbEXsa6j7U8I0uVYtUDFu71ALz8DK+1vQVydg9WoFeY3rcyRuMl5MXFJKcX4On+Gu5ktIiqG02JAAqDz/G3zLDxj5wcEeQFmv7Nr1XOzbOSImZjsSAPb1rYz7IsTNjVxOFnKnwtpYXAKi1hboQOXqa8/tpvHJ1RvpU/mLlNDRw4Gpg3Qn7d6p3HuUripcFAth/xAY2+qqkn8B76nMCzgEytqdrEm1gNuQHlWrwqDLmchYXEEO3o0jAA+3SjfGrMFzyRjEUnHZGU37CO7Xf0xjP2x/ItU+rh2u/pjGftj+Rap9egMUlckyk4i4V9LL0tz9lXHKOGUdQJ4oyQLaw8mo+p8Vr/ZVGynEtHICppq8PZyjodR+apLX8qT1E8kXx0aOjx4pr1dhwVAiJjIVuQrbXN/DYfjettuHU02jiiVGsSBEG3Hrf1Poa1uzmeJ/lDax42NwTvawqx5TjBZihDJqKkg3sR0+740rJyjKzQhCEoJNEQvDsGHQsVGsksTYL8ANgPSoDJpI7TysB84jUeiqpP2XNTOfzk36WvSux+ZygPCGtGWuQOvI7nyvVmDHLK3yL6jJHDVIkf/AKzk+r9tFVmitL6fH4Mv6nL5O2ZpLKT6H7BVD+XqMIMQ4Jkld1QWvazsgH2X99T2ZZwsUypIdKSfMY7APaxRvInp639KquLwsxhkwqDxxszRnldGcvcHzGoj30lmnbGcEK7/AB+xCYFZTIJkJWRDqDkA6bgrax53BIrHic/xTF4HJlBIIk8K238QdVUX2vY+u9fcbth43VxK0sh6OQdQuLbc/d5moZJX1bxuov8ASlc/fSy4VD1KUrZmzjNTBHNKD4tPh62awC7eXKnjk3/Lw/u0/lFc/wDGOFEeVvOQL4mVYo15WWMl5HPqWjC+y/nXQOUi0EQPPu0/lFPaeG2N+TN1eTfOl7EZicIIXJX5sjE28jte3oTv7zWPGY8KAo3ZtgB5mt7iCK8erqpB/D77VWJZxE6u12JuQeg6f0aXzeiTXkuwVKNv2PZs9gg7xZZAriy6Tzud/uqh4Ti6J8zcYQsyy3ZtXVxubelgd/QVY+JMZgsUhSaWMC4uRuVt6jkfYaoaHD4d3+QwzszeEMULXHob+EX/AN6ri41Rc1K7otWc56WcWuDyPpVx4NN8OCTzZvwqjvh2+Th51s3hNhYnc7A251buB9ZwepVDeN9r2PMVZgbXDEtYrJbiPC95hpAPnKNa+1d/uBHvqsZTmAKEnyqy5pkqYyEqWZXBBtexFjuD5XFxfpeqfiMH3EssW9h82/PSdxf1A5+yudXHhSGvhMlzjf6mbh5S2HxJsTqbf2Cs2R5toNrXBsTvyF7b+6oTKJCdSriFS4PhJAJ9oPK9SEOYwR3VGEjnbSov93T1pTa+0bVKSkmrsmM3zDxeHlWHgmUtjb/qsPuqNnvpB3Avax5j0rc4Ef8A48gdEa/8NTp7eVfqU6mMYadpeBk4iIOrKeTAg+wi1cnZy3yfEhHUsqPuL77bH3gj7K61rm7twyU4fMBIoIWbxqQPpX8Y+Jv761skE2mYGDI42kXTK8x+UxjQmgWGzEjp5AGrJFHbe+1LnhfO9QA12OkA6oiCbbcxt8KsxiYaXWVib+JehH3j415+cKk0eia3RTTJo7k1p4T/AJmL97H/ADivpsSNJtzJqUyLh93kWZ7qqsGA6m249gvXWDFKc1SKcuWOOD3MuGKnSNGeRgqKCzMxAAUC5JJ2AArjvi3Fxvj8TJAAsZmcppFhp1GxAHIHn76dX5QfFfdQLgYz457NIfKIHYf5mHwUjrSWyMYea0OIbuidkm6A9BJ+r+t06+Y9Gzzd0THAuZ7vCR8/dd+TCrthImVgxw0swPMq73B9mr7qWef8PYnL5QJBbrHIu6sOhU+zpVv4U7QZ1CxiF5n8oxcn2Ab1l6rSyc98Ob7NrR65KG2TpjAgkKjWsDoLX0s5+0XO9X/hbLzFCGZdMknjfzueQPsFhbzvS54Rz+bFZjCkkJRVDOytzFhpW46EOy03q6+H6fbeR99FPxHO3UP8nJna7+mMZ+2P5Fqn1bu1mQNm+MKkEd5a4N9wqgj2ggj3VUa0zLPqNrEHyNWXJMwCTnclClyACbkelVis+Dm0sDew61XkhuRbiyODGVk2UYDvGctoLaSqMXQHc6hpNtQ/V39lWg41UQRxo5UX+gUsPQNYn3Cq7wZh2ZdsXIqj6KFPsLKTapzNoooAzGV2vzLHUx9P9qz8jvjs2saio2lX7EDm+Yc1tdjaw9T/AFel/neBaKQaiD3iiRSPJrg/Bgw91MnJeH5cRKdK/nHOwPKNOV3PT1+Av1he2LK0w8uHRD8yPu/aEsb+9mY++nNIqtozdbK6vsX9e18aqKd3IQo6z7vDZ1gVljNhIttxcqw5rIt9yD6g+Rsd1/js2x2UMseMXvYwbQz35r9Rm87ctQvt/mqjdmvG75biQWJOFkNpkG9ugdR9ZevmLjys2+0ztHweHVYHw4xiTxhyNQCFG+YQ1je9rgjlYGlZYoy5LoZmlXsVjGdoGGkdJYtWsKQUZbEMb2Pk2/kelQ2Y5x3McUk6yIk5Ol9AN1VgHZVuPm6hsbX6VV8qzTLRitUsWJGGNvArqWUk7hm2LIB1GlvvMn2icWx5o+Ew+Dw7IsOqOLVYFu80KFCDZQNItuefSq1p1dsu+qklUSV7QOIMFjMRlmHw8t8HFpDuwKhdcio+vUAbhE1E2+lfrXRgrk7OcrSExxTDSIMI19/nzvrdQhX51nkQbc1hboK6myj+4h/dp/KKZFbszzxBlKnkRaq1HEUYqwtpuPcatNaGa5d3ouDpccj09jen3VTmxb1ZbiybGVfGJMCe6SJr9WB/Cq3mGWYh21zuiqOaoLX+0mt/OeIjh9cUqsrja4BP+n0NUzjbjuyL3am9rBiCAfiNzSPy2/SP/OVWbXEebqkZDEXuNI9nKr32Xx95l6sCVbW9iPdz865oxmbyStqdrn7vZXRfYM18qUn/ABZfvFNY8O3sSy5FIuXeOD4gFfbxD5reQby9v/gqvi/jVP7VXDsmm0ao1xuJSS2knqukrYjz9acrqCDfyt7q404qzI4jGTzFtWuRiG81Bsv8IFdvGpLaznFkeOSnH2HYmGEja9Eb36OOtTWFy9trrGi+SDb3+dKDhHjvuVCTE7cn53HTUOd/Wp+ftRiAYDvGv5KB95FIvT5E9vJvLXY5R3Wky1ZrjLuscal3LWVRuWPT+ugBq45Rg4MshEuJdRJK6o8h+aCx8K36Lfqeu59EBB2m4uLvO4WKNnO0ujVIi/VUt4bHn838Krea8QYrE3+UYiaUE3s8jEX9FJsPcKa0+m2cvsy9XrHl9Mev5O0KTvahxjleMimwjSlcRCXMchjbSssZI06gDs1iL2tyPQVTeBO16bB4eTDzhplEbfJ2v4ke3hViecd7eq9LiwCydiSSTcnck9TTXYinXIzMi46hj7kMfDpIkBB2O1t+VjvVnj4qgmJEUii3NiQFA9WawHxpLTB40MckWm7agWQhha4IB22PUG/zRy3rVLm1rm3lSktDjbseXxDLVM644UySPQk5ZZdQDIV3Wx5EHr7ahOPO1bD4CZIEHeyh1763KNNQ1j1k03svTr5FWQ9pcmFyqHCYeV2xDA95KST3KX0pHFfkdCruNhfbfktXckkkkkm5J3JJ5k0xjxxxqoimTJLJK5MkOI87lxmIkxEzXdzf0UdFXyAGwqNooqwrL/2d9orYMrBi0+UYT6rAM0XrHfmPND7rb36SyObDSxLNhe7aNx4XjA39NhcEHYg7g1xdVs4A47xGWS3Q64WP5yEnZul1+q9uvoL3qKAffHvFEWXzK4hjkkZQ01nVZe7VvAUB+eNQa49OdZuHe1TLcUABOIXP0J/Bv6MfAfc1KztqaHEx4PNcK5Ky/m233RlGpRz8LDxXHmLjncrXO8C0Utm+mA6nbdXGoHYnzqFwzpuye7WGU5tiypBBcEEcjdF32qo0UV0chXt69VSeQJ67eQ515agDYwuOkj+Y7LfyNqtuQYqCHTPjcQ8jHdY0/OEetiQob2kW9arK5LiDa0MhJ5BVJJ9gG9aLoVJBBBBsQdiCOYNcSgpFkMjidLdl/HmCxXeYeGIwSi7KHYEyqOuoW8QG5ToDtcA2T/bFj+8zF1v/AHaqD7SNR+wqPdWl2Z5V3+PjZiVigvPM420pENe56XIC/wCaoDN8eZ55Zm5yOzn01Em3u5V2qSpFbbbtmnRRRQBkBqUyjCy42aDCiQXZljjMjWVQSxtc9LsbDmSbDc1EA19JIQQQSCDcEGxBHIg+dBB09guyXLUw4iaHVJpsZiSX1HmQDdRboLbfbSqfg/5Bm0SIGfuu8mVjsG7tTJF7DrCKdze4O17Bwdl3FwzHBq7Ed/HZJx+tbZx5BwL+0MOlLjjbirDNmEjJKX0Rd1YKQgZJjISGO7bxRrsLG+xIvaWQUjjDF97NKF8XiVEFrnwgR2Xa53U7eu3WuqspUiCIHmI0v/pFI/sYylW7/MJQGaNtEd+QkK63f22ZQPLU1PeBrqp8wD9lcKVujtRpWUjtH4tnwTIsQUKy31kXN72IHTbboedKPM+0HFvMJe+YOAACvhFgSbWGx5mr/wBt+YQtHHGsimRGbUoNyoIHPy3HLnSYw2VSTMiopJdtK7Hc7Xt52uCfaKmjgl+JO0HFYsASFLjk6oA3vPL7KnezrC5nj2ITFP3EZTvBK+oaSeSKwYcgdhYVqcTdmE+H7ru1L3j1v+pZtJvv6rfyuegvTC4RzCHKskXEbGSYsyqdtT3KAfsqFuff51CpPglvcqZSe2PDQ4YiIQwd84uSqrdF6XsOZ6em/lTC7Aj/AOkp+9k+8Vz1xFmj4iZ5JGLM5JYnqaf3YVcZShH+LJt7xRlk6siCpF34vzL5NgcTN1jicr+1pOn+K1cz8C8By46SZHR49EDyIWBXU+yoNxyubm3lTc7duIhHl3cqbSTSKLddKHWx/wBQQf5q1Pyfu/mjxGKmmaQahCit00gOx9h1L8DRGW5WdM58ZSCQRYjYg1buz3gGfNJGCHuoU+fMVuAeiqLjU3W19hz5i7I7SuyCXEYsz4LQBKw7xGOkKSN3HptcgC9ztTM4E4bGX4KLDBtZW5ZrWuzEsbDyF7D0AqbASXaF2Q/IMGMTDM8xQjvgVAAU7BlAuQAdjcnnfoaVNdvYvDLIjRyKGR1Ksp5FSLEH2iuYuPezufLe/fSHwrWEctxdbupCsCbhtrXAsR8AAL6pThjMUw+LgmlQyRxyKzIDuQD0vt7utRdFSB1BiOFMvzaPvI2DRuhbWh31MfpeTAg3B3BpE9onCH9m4kQiQSBhqB6getTHZb2ijLFmjkjZ0lsylSLowFibHmCLdfo9aqHEmdSYzESYiQ+JzsPIdAPYKhKgIyiiipAKKKKACiiigDYXHSCIwhz3RcOU6awCob0NmI/8VOcSYI/J8NNvbQE3V7AblLMws1xquAbC1hsBVbqdyPF94jYWSxDjTET9BywI07gAM1r38vceZeSUQVFfUiFSQRYg2IPQjnXzXRAx+wbCLJmTBlDAYeU6SLg30oQQeYIYin3Fk+XYJtYiwuHLbA6Y0v79iaRf5P8AiUix+IllYJGmEkZmY2AHexczWTP+J5sbihiQ14mOhIwLGNbnSTudRI+cfPpYbcTntRbix75UdAoiCSIxhdJRwNIFrEoRa3TaoHjDs6wWYeKVDHL/AIsVlY/tXBDe8E+RFUXBvMINAmIDA+G/K/O3lcbG3O5qZyrjCTCqiOpkjGxHUD9RvIeR+IqmOqi+xiehnFWjT7RsFDk+SSYfDXHfusV9tRLC8hY9QVRh6arDawHO9Nnt64nTFNhY4SxRVd2uCPGxAt6lQvTbx0pqZTT6E2mnTCiiiggKKKKALd2ZZwIcYIpGZYMUpw81iRYPsrDyKvbfoC3nWDtFwkEGOkw+GUhIbISWLFnG7kk8vESLelVisuKxLyO0kjFnclmYm5JJuSffQB0B2SArkl7XLzSNy8rL/wDGo3jDtLlYGGE90i+EkHxNbY3PQeg+JqV7LplGVQLcWAcn2mQn8aTGe4j89L+8f+Y1Rie7JItyxqCR9YvHlzvTo7H8EszicJpTDwrFHfrI12lf2li3+VlHSkLghqYV1Z2b5X8ny+FbWZx3je1tx/DpHuq59lKLBiI0IJcLYA3J+rzN/TYfCuaO0XPUmkEcI0YeIFYkF+RN2b2s2/w8qb3a9xF3GG7hD45vneiDn/qO3sDVzbmmJuT51KD3NCRrmukOwpyMpSxH97JzHqK5sroXsZCf2XGSSGMsm/vHOq8r9JKRr9uuQNiYoZ0F5EkEVh1WTkfcwHuJq8dmeVjCYX5KNzHpLN5s6hm+37LV5mJJTS1j40t73A/GofNM8fDQZhJGyowlCK7ck0wpYnz8RAt61TDJXB3t4Lhic+jgXXimWBWlMUd2vr3svIbE2Jt0HWpelzw5mTTrhY8WiYgYm2ITUBaIgahvvq8QNjsd6ueQ5ymKRnRWXS5Qhrcx5WJ23q2E10Q4+5J0ue3z9EP+9j/mpjUue3z9EP8AvY/5qtOTmKiiigAooooAKKKKACiiigAooooA9FeUUUAfTsSSSbk7knr7a+aKKAJXI8zWESo6B1mVUa5IsFlSXpz3QD31buHcPGmIvHvDIl1ufmNfkL8xYbVRMHa5JQuAL2BIA8Q3a3Tp0+cPZVp4cxUaiVbnuyRpvuVO5t7N9jS+dOuBvSySlz/v/gwsLLfb1/q1bklmBFqrGV40Hwa7tzRr8/Q+oqxYSb62586zmmjXjJNFI7Qsp/NCVeSGxHUBtvhe1LynnxDBGYWDIz6gRoRWZj7AoJG9t+lx51WuN+yd8FgUxauLqi/KI2IurM1hoI2axZVI8wSOdhoaVtw5MnXRSyWhY0UUUyJhRRRQAUUV9wxM7BUUszEBVUXJJ2AAG5PpQA0OzrMP+G7u+wa49lL7O3/PSD/7j/zGrjwrgnhYpIrRtYBkdSrA36g7iqRmZ/PS/tt/MaWwf3JjupX9KBM8F5f3+JijH03VfiQPxrrlmWNLmyoi+4KB+ArnDsOwXeZhGTyQM/wU2+0im52uZ33GD7sGzTHT/kG7fgPeaYERMdonEhxE8kp5E2QeSjZR8Nz63peu1zc1tZpi+8ckchy/71p10AV0h2JYNJMoTWbWlksb26iucKdXZZnMsWXqgiLoZHO1rWuLjzB8jVc+iUX7PomjkhF7p3motfyHhB99/hVdGY4GTC4k4xomjlxbFkaQqdGpV1Lp3utgfdRnrGZQ3i7sGyhha3tHnfasGL4Gw8sKNJYlvLa1/IjrSO9Jmjj0jlG2+yy8KYuPuWmEcaYfDlosJKZLIY9RRCSd7bqCSDzNbuH4hZUjBlWWRUHeMg/Nu3Urte3qKos0cKZNNgozIZLmAEqdIbvQ6ktyFx79qmeG8gxEMMSOveAopDJvY2F1fyIPXlXWeVJbGGmxRuXzV0NEGl12+foh/wB7H/NTEvS57e/0S/72P76c3c0Z5zJRRRXZAUUV7agDyiivaAPKK9tXlABRRRQAUUUUAFFFFAFw7JURs1w8cgDRyiWN1PJleF1sffb4VucecEYjKZLgmTDOSEkHtNlk+q9vcd7dQILgDE93meCb/wDIiB9jOFP2E11vjsujxELRTIHjkB1K3kd/cR0PQiglOjknDZryPl5bGrTHxVdQqspk82BAUW5sR62G24uT0scnaf2aDLRHNFKXiklKBWFmUkFluRs2ynew5Dzr44M4X711fEXiwpU6nLldZEgsI7EG+pCCTsLX57Gp4Yt8ouWeaXDGL2T5WcSgxc4LIpHdatw7Cx16WXw6WAsU0+IHnpUiD/KK4oFosBG29xLNbp/hqftYj0Q0y5eKcHhsK8gZBHBHcKpHICyqvqTYD1NcnZ1mkmKnlxEpu8rFm9/QegFgB5AVbVcFLbbtmlRRRQQFFFFABT17A+HMKYmxmtZcSCU0/wCADe2x+k4+nytcD6VIqprhLiWbL8SmIgO42ZTydOqt6H7CAelSiGdXZpkcOKQLMlyPmsNmX9k/hy8xXI2dQaMTOl76ZXW/nZyK664X4hhx+GTEQG6tsynmjD5yt5EfaCCNiK5L4kP/ABmJ/fy/9RqNquyVJ1Q1vyeMLfETP9WK3vZl/AGontw4h73FvGp8Mf5oe0bv/ESPcKlOxLMhhsLmOIblFGje0/nLD3kAe+lJnGMMsjMxuSSSfMk3NQQjRr1TXlZ8NgpJP7uN3/ZUn7hRZ1VmK9NngbOe7yyONbqTLIGceRtYDqL+dVPLOzfHzC/diMWuO8Nr+4XI99qm8HlOIw0AgdBqV9Rsb+G4uR7qWzZE41FjemwNzuS4Hfl2BiMKqrA2Avfe563qOzPK3TeEhf1SLqfdzHur3gnFI2GS1yw2a/n6VM4rDaxYNb21my4Y3GbhOr4FkM7MKyrLEXl+UrJaMm1lXT8089t//Aq+8K5+ZZlTu9IdCfW4sdx7L1jx3DxKtZlJI5+VQGFzaPLpRNMwMdtDED5oJAuOpseYHSroZLnGyyWPHLDNp2+WNM0uO3r9Ev8AvY/5qveEzSKVNaMSvnpI+8VQO3jEK2UuAb/nY+h86fuLkmmYzTXDOab0Xryirjk9ovXlFAHtAO9eUUAe3oryigAooooAKKKKACiiigDNgsSY5EkXmjKw9qkEfdXbUEoZVYcmAI9hF64frr7s2zEYjK8HJe57lUY/rIO7a/vU0AVXt6MRwmHVmtKcQpiX61lIe/kAGBv56R1rZ4Y4oyeSFMP3kQkjURlJwEJYbWDP4Wu1+RPOo7tz4aMka444jQmGWwi0XuzON1OoWJOkHbkt+lc6u1ySeZ3oAv3bBjMMMY0GDBWNbGUA+HveoUeSi3I2uT5Xpf0UUAFFFFABRRRQAUUUUAXbsq41OW4sayfk0tlmXy8nA81+0Ejyqu8QSBsViGUgqZpCCDcEF2IIPUEdai63MvwTzyLFEpd2NgB/vyFqlNLlhVvgsGEzbucqmjB8WJxCKR+pCms/xyR/A1VCaYuG7L30gzTWP1VF7H2nn8KtHD/ZnDGyuVZ2G4Lm4v52AA+N6Vlq8a65GY6XI++Cp8BcCtI6zYpPzY3WJti3qw6L6Hn7Obghx8cQt3NgBtpG3s2ragwAVd7e6ssmHjVbtufK9JTyym7Y/jxxgqQu+LO1EQsFija9/EGUrt6XHnXzk2ZPmMbz2CkAjTe97bVZpIIZCyNHG45EMAfjcVowYCLByWijCx82VSSN+exPKulKLj+S2EZqf4NrgnNkhjaOS6tfkatqYlWs2o/Gqzn+Wwd0siuI2O4B61QHxGIV9XyiSOMeQFvcCDXO1SOpY4tbhx4jEqRuWsdtiKW/aVFhVRFY8yCBdtR0kHbTci/K/rUAM9lkWSTVJ3dwqkbFm9vIX51D55iB8sVA6yondjUdzyUODZueskXt5GrMWGpW/YXzZIQhti+zobgdPzF+h0/HSL1XO3wf+kv+9j++rnwzCVw0dxYkaiPbuPstVN7ff0Q/72P76dwwqCM7PLdkbRzFRRRVpSFFFFABRRX3Dp1DXfTcatPO3W19r2oA+KKKKACiitlcBKQCI3IPI6DY+w23qG6JSb6Nais8uCkUamjdR5lSB8SKwUJp9A012FFFFSQFdKfk843XljIecc7qPYVV/vZq5rpz/k65kVbFRX2HdyW/VsyO3uJjoAsP5Rmad3g4IAd5ZCxHmqLY/wATr8K53pq/lFZhrzCOIHaKEbeTOzMf4QlKqgAooooAKKKKACiiigAooooAKbPYllyaJ8QReQERrfoLAm3qbj4UUUvqX/TYxpv7iGzFCvOwrfHKiikYGjM+CvM+X41B8RYrQoUKDq6miiucnCJx9ldhwiyeI6lYfSViDz9OY9Dep3LsnWXDgszawxAfa9jbY9CKKKnTJOf+CvVzlGCcX7ohlyvvJXjLDw3F9N72NthfapjD8GQEASXk25Ny+A/G9FFPY8cfAtqs+S6sqWB7KU7/AMGJYKjrZXjD3G5KnxAWNvLrVlxvZ7hBihJp2LhzGAAllA0qFHIA7nnevaK6b5Eyck4skD6Qi27wx/Dr/tUF23Tl8nYnrJF99FFdRb4IZzXRRRVoBRRRQAUUUUAFFFFABTI4A4txUrx4RnQxqDpLRgkW5ffzoopfUxTxtsa0cms0UvcuubZQ+JTTLiGCDbSiIu3qSCa1T2cYEKE7tjf6Wo6uXt+zl6UUVgrLOPEXRv5MUJPlCh4pyxcNi5oFJZUawJ52sDvb21FUUV6LE24JvwjzORVNpeQq+9iGLZM3hQfNmWSNx5roL/zIp91FFWHBD9pONabNMYzcxM0fuiPdL/CgqtUUUAFFFFABRRRQB//Z");
  background-repeat: no-repeat;
}


.arrow-icon-right {
  float: right;
  margin-top: -60px;
}

.arrow-icon-left, .arrow-icon-right {
    
button {
  background: none;
  border: none; 
  font-size: 40px;
  color: white;
} 
  }
button:focus {outline:0 !important;}

.arrow-icon-left, .arrow-icon-right:hover {
  color: white;
}

.header1 {
  background-color: white;
  width: 20vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255,255,255, .7);
  margin: auto;

}



