

body {
  background: url('livingroom_background.jpg') no-repeat center center fixed;
   background-size: cover;
}
@font-face{
  font-family: 'Story Book';
  src: url('/assets/StoryBook.otf');
}
.app-name {
  font-family: Story Book;
  color: black;
  font-size: 100px;
  text-align: center;
}

.signup-logo {
  position: absolute;
  font-family: verdana;
  top: 240px;
  left: 875px;
  font-size: 15px;
  color: white;
}

.signup-form {
  position: absolute;
  font-family: verdana;
  top: 320px;
  left: 875px;
  color: white;
}

.login-logo {
  position: absolute;
  font-family: verdana;
  top: -70px;
  left: -600px;
  font-size: 15px;
  color: white;
}

.login-form {
  position: absolute;
  font-family: verdana;
  top: 30px;
  left: -600px;
  color: white;
}

label {
  color: white;
}

.form-control {
  position: absolute;
  left: 20px;
  top: -70px;
}

.submit-button {
  position: absolute;
  left: 212px;
  top: -67px;
  color: black;
}

.actions {
  color: black;
  padding-top: 20px;
  padding-left: 50px;
}

#user_header {
  color: white;
  position: absolute;
  left: 1100px;
  top: 98px;
}

a {
  color: grey;
}

.box1 {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 5px solid black;
  display: inline-block;
  left: 200px; 
  top: 200px;
  background-color: black; 
  opacity: 0.5;
}

.box2 {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 5px solid black;
  display: inline-block;
  left: 800px;
  top: 200px;
  background-color: black; 
  opacity: 0.5;
}
.field {
  color: black;
}


.container {
  display: inline;
  height: 200px; 
  width: 500px;
  overflow: hidden;
}
.wrapper {
  display: inline;
}

.movie-image {
  padding: 7px;
}

.movie-scroll {
  margin-top: 50px;
  margin-left: 10px;
  padding: 7px;
  white-space: nowrap;
}

.rating-runtime {
  font-size: 15px;
  margin-top: -16px;
  margin-left: 45px;
  color:white;
}

.form-control {
  position: absolute;
  top: 5px;
  left: 50px;
  background-color: black;
}

.search-button {
  margin-top: -100px;
  margin-left: 900px;
  color: white;
  background-color: black;
}
.runtime {
  margin-left: 50px;
  color:white;
}

.arrow-icon-right {
  float: right;
  margin-top: -60px;
}

.arrow-icon-left, .arrow-icon-right {
    
button {
  background: none;
  border: none; 
  font-size: 40px;
  color: white;
} 
  }
button:focus {outline:0 !important;}

.arrow-icon-left, .arrow-icon-right:hover {
  color: white;
}

.description {
  background-color: white;
  opacity: 0.4;
}
.header1 {
  background-color: white;
  width: 10vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255,255,255, .7);
  margin-left: 500px;
}

.header2 {
  background-color: white;
  width: 10vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255,255,255, .7);
  float: right;
  margin-right: 500px;
  margin-top: -122px;
}

.list-style {
  overflow: scroll; 
  height: 80px; 
  width: 150px;
}

.chat-form {
  margin:auto;
  width: 20vw;
  padding: 10px;
}

.messages {
  margin: auto;
  overflow: scroll;
  height: 300px;
  width: 40vw;
  background: rgba(255, 255, 255, .8);
  border-radius: 5px;
}  

.well {
  width: 50vw; 
  margin: auto; 
  background: rgba(255, 255, 255, .7);
}

.welcome {
  font-size: 2em;
  text-align: center;
}
   
.action {
  padding-bottom: 5px;
}

.navigationColumn {
  // border: 3px grey solid;
  height: 800px;
  position:relative;
  width: 14%;
}

.createList {
  background-color: hsla(120,100%,100%,0.4);
  height: 200px;
  width: 400px;
  margin-left: 300px;
  margin-top: 150px;
}

.current-email {
  margin-left: 700px;
  margin-top: -200px;
  font-size: 20px;
  color: black;
}

.list-header {
  text-align: center;
}

.input {
  text-align: center;
  margin-top: 150px;
}

.add {
  margin-left: 230px;
  margin-top: -25px;
}

.currentLists {
  background-color: hsla(120,100%,100%,0.4);
  text-align: center;
  height: 200px;
  width: 400px;
  margin-left: 800px;
  margin-top: -220px;
  font-size: 15px;

}

.moviesColumn {
  width: 82%;
  margin-left: 120px;
  margin-top: -550px;
  background-color: hsla(120,100%,100%,0.4);
}

.wrapper {
  display: inline-block;
  width: 100%;
  height: 800px;
}

.movieImage {
  width: 150px;
  height: 190px;
}

.profile {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 5px solid black;
  display: inline-block;
  left: 500px;
  top: 200px;
  background-color: black;
  opacity: 0.4;
}

.my-profile {
  color: black;
  margin-top: 50px;
  text-align: center;
}
