<br>
<br>
<div class="container">
	
	<div class="header1">
		<h4>Online Users {{users.length}}</h4>
	</div>
	<div class="list style">
		<ul style="overflow: scroll; height: 80px; width: 200px;">
			<li ng-repeat="user in users">{{user}}</li>
		</ul>
	</div>
	<div class="header2">
		<h4 style="background:white; width: 20vw; text-align: center; border: 2px solid black; border-radius: 5px; background: rgba(255,255,255, .7); margin: auto">Chat History {{messages.length}}</h4>
	</div>
	<div class="chat-form">
		<form style="margin:auto; width: 40vw; padding: 10px;" ng-submit='publish()'>
		<input type="text" ng-model='newMessage' />
		<input type="submit" value="Send" />
		<button ng-click="subscribe()">Subscribe to chat</button>
		<button ng-click="unsubcribeChannel()">Unsubscribe</button>
		</form>
	</div>
	<div class="well" style="width: 75vw; margin: auto; background: rgba(255, 255, 255, .7)">
		<ul ng-model="channel" style="font-size: 2em"><strong>Welcome to {{channel}}</strong></ul>
		<ul style="overflow: scroll; height: 300px; width: 70vw;background: rgba(255, 255, 255, .8); border-radius: 5px">
			<li style="list-style-type: none" ng-repeat="message in messages">{{message}}</li>
		</ul>
	</div>
</div>