<br>
<br>
<div class="container">
	
	<div class="header1">
		<h4>Online Users {{users.length}}</h4>
	</div>
	<div class="list-style">
		<ul>
			<li ng-repeat="user in users">{{user}}</li>
		</ul>
	</div>
	<div class="header2">
		<h4>Chat History {{messages.length}}</h4>
	</div>
	<div class="chat-form">
		<form ng-submit='publish()'>
		<input type="text" ng-model='newMessage' />
		<input type="submit" value="Send" />
		<button ng-click="subscribe()">Subscribe to chat</button>
		<button ng-click="unsubcribeChannel()">Unsubscribe</button>
		</form>
	</div>
	<div class="well">
		<ul ng-model="channel" class="welcome"><strong>Welcome to {{channel}}</strong></ul>
		
		<ul class="messages">
			<li style="list-style-type: none" ng-repeat="message in messages">{{message}}</li>
		</ul>
	</div>
</div>