<br>
<br>
<div class="container">
	
	<div class="header1" style="width: 200px">
		<h4>Online Users {{users.length}}</h4>
	</div>
	<div class="list-style" style="margin-top: 10px; margin-left: 500px; width: 200px; height: 100px; background: white; overflow: scroll; border: 2px solid black; border-radius: 5px">
		<div style>
			<li style="list-style-type:none; padding-left: 10px" ng-repeat="user in users">{{user}}</li>
		</div>
	</div>
	<div class="chat-form">
		<form ng-submit='publish()'>
		<input type="text" ng-model='newMessage' />
		<input type="submit" value="Send"/>
		</form>
	</div>
	<div class="well">
		<ul ng-model="channel" class="welcome"><strong>Welcome to {{channel}}</strong></ul>
		
		<ul class="messages">
			<li style="list-style-type: none" ng-repeat="message in messages">{{message}}</li>
		</ul>
	</div>
</div>