<br>
<br>
<br>
<div class="container">
	<h4>Online Users</h4>
		<ul>
			<li ng-repeat="user in users">{{user}}</li>
		</ul>
	<h4>Chat History {{messages.length}}</h4>
	<form ng-submit='publish()'>
		<input type="text" ng-model='newMessage' />
		<input type="submit" value="Send" />
	</form>
	<div class="well">
		<ul ng-model="channel">Welcome to {{channel}}</ul>
		<ul><li style="list-style-type: none" ng-repeat="message in messages">{{message}}</li></ul>
	</div>
</div>