<br>
<br>
<br>
<br>
<br>
<div style=" background: rgba(255, 255, 255, 0.5)">
<div style="height: 400px; width: 95vw; overflow: scroll; display: inline-block; white-space: nowrap;"</div>
	<div ng-repeat="food in foods" style="display: inline-block; margin: 20px;">
		<div>{{food.name}}</div>
		<p>Was: {{food.regular_price}}</p>
		<p>Now: {{food.discount_price}}</p>
		<img src="{{food.image_urls}}" style="width:250px; height: 250px;"></img>
	</div>
</div>
</div>