
<br>
<br>
<br>

<div class="wrapper">
  <div class="navigationColumn">
    <div class="createList">
      <div class="list-header">
       <h2>Create Your List</h2>
      </div>
      <div class="current-email">
      <h3>{{currentUser.email}}</h3><br>
      </div>
      <div class="input">
        <input ng-model="listName" placeholder="List Name">
      <div class="add">
        <button ng-click="addList()">Add</button>
      </div>
      </div>
    </div>
    <div class="currentLists">
      <h3>My Lists</h3>
      <div ng-repeat="entry in lists">
        <div ng-click="getMoviesForList(entry.id)">
        {{entry.name}}
        </div>
      </div>     
    </div>
  </div>

  <div class="moviesColumn">
    <div ng-repeat="movie in arrayMovies" style="display: block .col-md-4">
      <img src={{movie.image_url}} class="movieImage"></img>
    </div>
  </div>
</div
