
<div>{{currentUser.email}}</div>
    <h3>List Name</h3>
    <input ng-model="listName">
    <h3>URL</h3>
    <button ng-click="addList()">Add</button>

<div ng-repeat="entry in lists">
	<div>
	{{entry.name}}
	</div>
</div>
