<div class="container" style="display: inline-block; height: 200px; width: 500px; overflow:hidden" ng-repeat="movie in movies">
	<div style="width: 30%">
		Title:
		{{movie.title}}
		<br>
		<img src="{{movie.image_url}}" />
		<button >Add Movie to List</button>
	</div>
</div>