
<br>
<br>
<br>


<!-- Rotten Tomatoes Search -->
<input style="margin-left: 40vw; width: 300px" ng-model="movieSearched" placeholder="Search for a movie">
<button ng-click="searchMovies(movieSearched)"><span class="glyphicon glyphicon-search"></button>
</span>
<div ng-show="oneMovie" ng-model="movieInfo" style="width: 80vw; height: 300px; margin: auto; background: rgba(255,255,255, .5); padding: 10px; border-radius:10px ">
	<h1>{{movieInfo.title}}</h1><br>
	<!-- from our database -->
	{{movieInfo.description}}
	<!-- from rotten tomatoes -->
	{{movieInfo.synopsis}}
  <br>
	<button ng-click="addMovieToList(movieInfo.id, userList.id)"> + List</button>
	<select ng-click="confirm()" ng-model="userList" ng-options="list.name for list in lists | filter: {user_id: currentUser.id}">
	</select>
</div>

<!-- samantha's css below -->
<div class="movie-scroll">
    <div class="slider">
      <div ng-repeat="movie in movies" style="display: inline-block;" border-color="black" class="movie" id="movie">
       <div style="width: 100%">

        <div class="movie-image">
          <img src="{{movie.image_url}}" ng-click="movieClicked(movie)" style="width:150px; height: 190px;"/>
        </div>

        <div class="description" ng-show="description">
          {{movie.description}}
        </div>
        <br>

        <div class="rating-runtime" class="thumb-icon">
          <span class="glyphicon glyphicon-thumbs-up">
          </span>
          <strong>Users:</strong>
          {{movie.user_rating}}
          <br>
          <span class="glyphicon glyphicon-thumbs-up">
          </span>
          <strong>Critics:</strong>
          {{movie.critic_rating}}
          <br>
        </div>
        <div class="runtime">
          <strong>Runtime:</strong>
          {{movie.runtime}}
        </div>
      </div>
      <br>
    </div>
  </div>

  <div id="slider-nav">
    <div class="arrow-icon-left">
      <button data-dir="prev">
      <span class="glyphicon glyphicon-chevron-left"></button>
      </span>
    </div>
    <div class="arrow-icon-right">
      <button data-dir="next">
      <span class="glyphicon glyphicon-chevron-right"></button>
      </span>
    </div>
  </div>

</div>

