<div class="movie-scroll">
    <div class="slider">
      <div ng-repeat="movie in movies" style="display: inline-block;" border-color="black" class="movie" id="movie">
       <div style="width: 100%">

        <div class="movie-image">
          <img src="{{movie.image_url}}" style="width:150px; height: 190px;"/>
        </div>

        <div class="description" ng-show="description">
          {{movie.description}}
        </div>
        <br>

        <div class="rating-runtime" class="thumb-icon">
          <span class="glyphicon glyphicon-thumbs-up">
          </span>
          <strong>Users:</strong>
          {{movie.user_rating}}
          <br>
          <span class="glyphicon glyphicon-thumbs-up">
          </span>
          <strong>Critics:</strong>
          {{movie.critic_rating}}
          <br>
        </div>
        <div class="runtime">
          <strong>Runtime:</strong>
          {{movie.runtime}}
        </div>
      </div>
      <br>
    </div>
  </div>

  <div id="slider-nav" class="arrow-icon-left">
      <button data-dir="prev"><span class="glyphicon glyphicon-chevron-left"></button>
    </span>
  <div class="arrow-icon-right">
      <button data-dir="next"><span class="glyphicon glyphicon-chevron-right"></button>
    </span>
  </div>
</div>


