<div class="container">
movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>movies.html.erb
<br>
</div>